{% extends "layout.html" %}
{% block content %}
<br>
<h1 class="text-center">Tatar Transliteration tool</h1>


<hr>
<p class="text-center">This is a Tatar Transliteration application powered by <b>FastAPI</b>!</p>

<form action = "/" method = "POST">
  <textarea class="form-control" id='textarea' cols="50" rows="10" resize="auto" name = src placeholder="Write your comment...">{{src}}</textarea>
  <hr>
  <div class="mx-auto" style="width: 200px">
    <input type = "submit" value = "Transliterate!" class="btn btn-primary"/>
  </div>
  <textarea class="form-control" cols="50" rows="10" name = tgt placeholder="Write your comment...">{{tgt}}</textarea>
</form>


{% endblock %}
